doctype html
html(lang='zh-CN')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="HandheldFriendly", content="True")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    meta(http-equiv="cleartype", content="on")
    meta(name='keywords', content='alib,koa,framework')
    meta(name='description', content='framework base on koa 2.x')
    meta(name='author',content='Tree.Xie')
    title #{title}
    //CSS_FILES_CONTAINER
    - importer.import('/css/pure.min.css', '/css/global.css')
    - importer.import('/js/jquery.min.js')
  body
    block bodyContainer
    footer#footer
      a(href="http://www.miitbeian.gov.cn/") 粤ICP备17025766号
      span © #{new Date().getFullYear()} Tree.Xie (Something or nothing)
  if viewData && viewData.globals
    script.
      window.JT_GLOBALS = !{JSON.stringify(viewData.globals)};
  //JS_FILES_CONTAINER
